body {
  margin: 0;
  overflow: hidden;
  background: blue;
  font-family: "Inter", sans-serif;
}

#sketch {
  width: 100vw;
  height: 100vh;
  background: black;
}

.loading span {
  animation: blur 0.8s calc(var(--i) / 5 * 1s) alternate infinite;
}

@keyframes blur {
  to {
    filter: blur(4px);
  }
}
